<!DOCTYPE html>
<html>

  <head>
    <link href='https://fonts.googleapis.com/css?family=Philosopher' rel='stylesheet'>
    <script src="static/js/Chart.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="static/js/functions.js?ver=5"></script>
    <script src="static/js/contact.js?ver=5"></script>
    <link rel="stylesheet" type="text/css" href="static/css/main_page.css?ver=5" />
<script src="//cdn.jsdelivr.net/npm/jquery.marquee@1.5.0/jquery.marquee.min.js" type="text/javascript"></script>
    <title>NY Stock Monitor</title>
    <link rel="icon" type="image/x-icon" href="https://drive.google.com/uc?id=1l_PMNmhbZBwsTkYvXMCZv4Azzu6csC5x" />
    <script type="text/javascript">
      function createKeenWebAutoCollector() {
        window.keenWebAutoCollector = window.KeenWebAutoCollector.create({
          projectId: '5a80532946e0fb00016bbc52',
          writeKey: '2480427F658385FD0A631580233F3729D698DD654544A1B039B6D3504F6F7D76C462D3DB8BF45CC16933CC8801E77A49D380236B9B585B5819B125AF597C767E38E8F0E1183A9CDDA0C7155546719C5833269833871CEE847874D9A4D43C286F',
          onloadCallbacks: window.keenWebAutoCollector.onloadCallbacks
        }), window.keenWebAutoCollector.loaded()
      }

      function initKeenWebAutoCollector() {
        window.keenWebAutoCollector.domReady() ? window.createKeenWebAutoCollector() : document.addEventListener("readystatechange", function() {
          window.keenWebAutoCollector.domReady() && window.createKeenWebAutoCollector()
        })
      }
      window.keenWebAutoCollector = {
        onloadCallbacks: [],
        onload: function(a) {
          this.onloadCallbacks.push(a)
        },
        domReady: function() {
          return ["ready", "complete"].indexOf(document.readyState) > -1
        }
      };

    </script>
    <script async type="text/javascript" src="https://d26b395fwzu5fz.cloudfront.net/keen-web-autocollector-1.0.8.min.js" onload="initKeenWebAutoCollector()"></script>
  </head>

  <body>
    <div id="loading">
      <img src="https://drive.google.com/uc?id=1GePgNLtCZuZqk-gGvqyIU01SeA0H84nH"><br>
      <a id="underLogo">NY Stock Monitor</a>
    </div>
    <div id="main">
      <div class="topStyle">
        <img class="topStyle" id="topLogo" src="https://drive.google.com/uc?id=1X9xScWTkjACCSzFOmtWabd1sPKPK-O5w">
        <ul class="topMenu">
          <li><a href="/">Home Page</a></li>
          <li><a href="/buys">Buys</a></li>
          <li><a href="/sells">Sells</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
        <input id="searchBar" placeholder="Search Bar">

      </div>
      <br>
      <div id="popup" class="popup">
        <div class="popup-content">
          <span class="popup-close">&times;
        </span>
          <div id="popup-message">
            <canvas id='myChart'></canvas>
          </div>
          <div id="popup-info">
          </div>
        </div>
      </div>
      <br>
      <hr>
      <div id="dataDisplay">
        <ul class="sideMarket">
          <li id="sideMarket1"><a id="MN1"></a></li>
          <li id="sideMarket2"><a id="MN2"></a></li>
          <li id="sideMarket3"><a id="MN3"></a></li>
          <li id="sideMarket4"><a id="MN4"></a></li>
          <li id="sideMarket5"><a id="MN5"></a></li>
          <li id="sideMarket6"><a id="MN6"></a></li>
          <li id="sideMarket7"><a id="MN7"></a></li>
          <li id="sideMarket8"><a id="MN8"></a></li>
          <li id="sideMarket9"><a id="MN9"></a></li>
          <li id="sideMarket10"><a id="MN10"></a></li>
        </ul>
        <hr style="height:5px; visibility:hidden;" />
      </div>

<!-- www.123formbuilder.com script begins here -->
<div id="contactForm">
<script type="text/javascript" defer src="//www.123formbuilder.com/embed/3549839.js" data-role="form" data-default-width="650px"></script>
<p>Powered by <a class="footerLink13" title="123FormBuilder" href="https://www.123formbuilder.com">123FormBuilder</a> | <a style="font-size:small!important;color:#000000!important; text-decoration:underline!important;" title="Looks like phishing? Report it!" href="http://www.123formbuilder.com/sfnew.php?s=123contactform-52&control119314=///contact-form--3549839.html&control190=Report%20abuse" rel="nofollow">Report abuse</a></p>
<!-- www.123formbuilder.com script ends here -->
</div>
        <!--Edit logo @logomakr.com/19oWaS-->

    </div>
		<div class="marquee" data-duplicated='true' data-gap="20"></div>
    <div id="filler"></div>

  </body>

</html>
