<!DOCTYPE html>
<html>
    <head>
    <link rel="stylesheet" type="text/css" href="static/css/main_page.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="static/js/home.js"></script>
   <title>NY Stock Monitor</title>
    <link rel="icon" type="image/x-icon" href="https://drive.google.com/uc?id=1l_PMNmhbZBwsTkYvXMCZv4Azzu6csC5x" />
    </head>

    <body>

    <div class="topStyle">
        <img class="topStyle" id="topLogo"src="https://drive.google.com/uc?id=1X9xScWTkjACCSzFOmtWabd1sPKPK-O5w">

        <ul id="topMenu">
        <li class="topMenu"><a>Menu1</a></li>
        <li class="topMenu"><a>Menu2</a></li>
        <li class="topMenu"><a>Menu3</a></li>
       </ul>
       <input id="searchBar" placeholder="Search Bar">

    </div>
    <br><br>
    <hr>
    <ul class="sideMarket">
        <li id="sideMarket1"><a>1Market Data Goes Here</a></li>
        <li id="sideMarket2"><a>2Market Data Goes Here</a></li>
        <li id="sideMarket3"><a>3Market Data Goes Here</a></li>
        <li id="sideMarket4"><a>4Market Data Goes Here</a></li>
        <li id="sideMarket5"><a>5Market Data Goes Here</a></li>
        <li id="sideMarket6"><a>6Market Data Goes Here</a></li>
        <li id="sideMarket7"><a>7Market Data Goes Here</a></li>
        <li id="sideMarket8"><a>8Market Data Goes Here</a></li>
        <li id="sideMarket9"><a>9Market Data Goes Here</a></li>
        <li id="sideMarket10"><a>1Market Data Goes Here0</a></li>

    </ul>



    <br><button>Get External Content</button><br>
<div id="div1">
    Todo:
    <ol>
    <li>Hi Mom!</li>
    <li>Hi Dad!</li>
    <li><3</li>
    <li>Title bar icon</li>
    <li>---Logo Icon inline with menu</li>
    <li>Section off good/bad stocks</li>
    <li>Make menu bar clickable with functionality</li>
    <li>Reprogram Search bar so height isnt hard coded</li>
    <li>Research API Possibilities-specifically for Market info and graphing</li>

    </ol>
</div>
<img src="https://ps.w.org/under-construction-page/assets/screenshot-8.png?rev=1575579">

    <div class="navbar">
    <span><a href="#home">Home</a></span>
    <span><a href="#news">News</a></span>
    <span><a href="#contact">Contact</a></span>
    <span>Logo Creation Thanks to: <a href="http://logomakr.com" title="Logo Makr">LogoMakr.com</a></span>

    <!--Edit logo @logomakr.com/19oWaS-->
    </div>

    </body>
</html>
