<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" type="text/css" href="static/css/main_page.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="static/js/home.js"></script>
    <title>NY Stock Monitor</title>
    <link rel="icon" type="image/x-icon" href="https://drive.google.com/uc?id=1l_PMNmhbZBwsTkYvXMCZv4Azzu6csC5x" />
  </head>

  <body>

    <div class="topStyle">
      <img class="topStyle" id="topLogo" src="https://drive.google.com/uc?id=1X9xScWTkjACCSzFOmtWabd1sPKPK-O5w">

      <ul id="topMenu">
        <li class="topMenu"><a>Menu1</a></li>
        <li class="topMenu"><a>Menu2</a></li>
        <li class="topMenu"><a>Menu3</a></li>
      </ul>
      <input id="searchBar" placeholder="Search Bar">

    </div>
    <br><br>
    <hr>
    <ul class="sideMarket">
      <li id="sideMarket1"><a id="MN1">1Market Data Goes Here</a><br>
        <a id="CP1"></a><br>
          <a id="DP1"></a><br>
            <a id="PC1"></a></li>
      <li id="sideMarket2"><a id="MN2">2Market Data Goes Here</a><br>
        <a id="CP2"></a><br>
          <a id="DP2"></a><br>
            <a id="PC2"></a></li>
      <li id="sideMarket3"><a id="MN3">3Market Data Goes Here</a><br>
        <a id="CP3"></a><br>
          <a id="DP3"></a><br>
            <a id="PC3"></a></li>
      <li id="sideMarket4"><a id="MN4">4Market Data Goes Here</a><br>
        <a id="CP4"></a><br>
          <a id="DP4"></a><br>
            <a id="PC4"></a></li>
      <li id="sideMarket5"><a id="MN5">5Market Data Goes Here</a><br>
        <a id="CP5"></a><br>
          <a id="DP5"></a><br>
            <a id="PC5"></a></li>
      <li id="sideMarket6"><a id="MN6">6Market Data Goes Here</a><br>
        <a id="CP6"></a><br>
          <a id="DP6"></a><br>
            <a id="PC6"></a></li>
      <li id="sideMarket7"><a id="MN7">7Market Data Goes Here</a><br>
        <a id="CP7"></a><br>
          <a id="DP7"></a><br>
            <a id="PC7"></a></li>
      <li id="sideMarket8"><a id="MN8">8Market Data Goes Here</a><br>
        <a id="CP8"></a><br>
          <a id="DP8"></a><br>
            <a id="PC8"></a></li>
      <li id="sideMarket9"><a id="MN9">9Market Data Goes Here</a><br>
        <a id="CP9"></a><br>
          <a id="DP9"></a><br>
            <a id="PC9"></a></li>
      <li id="sideMarket10"><a id="MN10">1Market Data Goes Here0</a><br>
        <a id="CP10"></a><br>
          <a id="DP10"></a><br>
            <a id="PC10"></a></li>

    </ul>



    <br><button>Get External Content</button><br>
    <div id="div1">
      Todo:
      <ol>
        <li>Hi Mom!</li>
        <li>Hi Dad!</li>
        <li><3</li>
        <li><strike>Title bar icon</strike></li>
        <li><strike>---Logo Icon inline with menu</strike></li>
        <li>Section off good/bad stocks</li>
        <li>Make menu bar clickable with functionality</li>
        <li>Reprogram Search bar so height isnt hard coded</li>
        <li><strike>Research API Possibilities-specifically for Market info and graphing</strike></li>

      </ol>
    </div>
    <img src="https://ps.w.org/under-construction-page/assets/screenshot-8.png?rev=1575579">

    <div class="navbar">
      <span><a href="#home">Home</a></span>
      <span><a href="#news">News</a></span>
      <span><a href="#contact">Contact</a></span>
      <span>Logo Creation Thanks to: <a href="http://logomakr.com" title="Logo Makr">LogoMakr.com</a></span>

      <!--Edit logo @logomakr.com/19oWaS-->
    </div>

  </body>

</html>
